
html,
body {
    margin: 0 auto;
    /* The html and body elements cannot have any padding or margin. */
    background-color: #dfe4ee;
}
.mainContent {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
.quote-add-on {
    background-color: #f1f1f1;
}

.quotearea {
    margin-top: 50px;
    color: #ffffff;
}

.allPostDivClick {
    padding: 15px;
    background-color: #4f7fc2;
    cursor: pointer;
    color: #eee;
}

.addPostDivClick {
    padding: 15px;
    background-color: rgb(77, 218, 100);
    cursor: pointer;
    color: #222;
}

.infoClick {
    padding: 15px;
    background-color: #4f7fc2;
    cursor: pointer;
    color: #eee;
}

.infoClick:hover{
    animation: shadow-drop-center 0.2s alternate;
    animation-fill-mode: forwards;
}

.addPostDivClick:hover{
    animation: shadow-drop-center 0.2s alternate;
    animation-fill-mode: forwards;
}

.allPostDivClick:hover {
    animation: shadow-drop-center 0.2s alternate;
    animation-fill-mode: forwards;
}

.headerHome {
    cursor: pointer;
    font-weight: bold;
}

.onePost {
    padding: 20px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    cursor: pointer;
}

#allPostsHeader {
    margin-left: 25px;
    margin-bottom: 25px;
}

.header {
    padding: 15px;
    background-color: rgb(77, 218, 100);
    margin-bottom: 20px;
}

.container {
    text-align: center;
    margin-bottom: 40px;
}

.addPostDiv {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

textarea {
    resize: none;
}

.onePost:hover {
    animation: shadow-drop-center 0.3s alternate;
    animation-fill-mode: forwards;
}

.aboutthis {
    font-size: 1.2em;
}