<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>


	<link href="/slim/templates/assets/css/custom.css" rel="stylesheet" type="text/css"/>
	<link href="/slim/templates/assets/css/animista.css" rel="stylesheet" type="text/css"/>

	<title>Slim blog</title>
</head>
<body>
<div class="container mainContent">
	<!--header-->
	<div class="row">
		<div class="col-md-12 header">
			<h1 class="headerHome" onclick="goTo('info')">Slim</h1>
			<h5>A simple blog using <a href="https://www.slimframework.com">Slim</a> microframework.</h5>
			<hr>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md-12 text-center">
			<div class="allPostDivClick col-md-4" onclick="goTo('allp')">
				All posts
			</div>
			<div class="addPostDivClick col-md-4" onclick="goTo('addp')">
				Add post
			</div>
			<div class="infoClick col-md-4" onclick="goTo('info')">
				Info
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 posts text-center">
			<hr>
			<h3 id="allPostsHeader">All posts</h3>
			<?php foreach($posts as $post): ?>
				<div class="onePost">
					<h4 class="postTitle text-info">
						<?php echo $post['title']?>
					</h4>
					<blockquote class="blockquote">
						<p class="mb-0">
							<?php echo $post['content']?>
						</p>
						<footer class="blockquote-footer"><cite title="Source Title">
								<a href="/slim/user/<?php echo $post['id']?>">
									<?php echo $post['name']?>
								</a>
							</cite>
						</footer>
					</blockquote>
				</div>
			<?php endforeach; ?>
			<div class="row text-center">
				<div class="col-md-12 text-center">
					<div class="addPostDivClick" onclick="goTo('addp')">
						Add post
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="/slim/templates/assets/js/app.js"></script>
</html>