<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Slim 3</title>
	<link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<style>
		body {
			margin: 50px 0 0 0;
			padding: 0;
			width: 100%;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-align: center;
			color: #aaa;
			font-size: 18px;
		}

		h1 {
			color: #719e40;
			letter-spacing: -3px;
			font-family: 'Lato', sans-serif;
			font-size: 100px;
			font-weight: 200;
			margin-bottom: 0;
		}
	</style>
</head>
<body>
<h1>Slim</h1>
<div>Add a post</div>
<form method="post" action="/slim/insert-post">
    <input type="text" name="name">
    <input type="text" name="title">
    <textarea name="content">

    </textarea>
    <input type="submit">
    <?php if (isset($result)) echo $result?>
</form>
</body>
</html>
